# This file is currently used by autoprefixer to adjust CSS to support specified browsers
# For more information, see https://github.com/browserslist/browserslist

> 0.5%
last 2 versions
Firefox ESR
not dead
not IE 11
